img.main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height:100vh;
}
body {
    background-color: black;
}
#forma {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    background-color: black;
    color: white;
    font-size: x-large;
}
input {
    margin-top: 20px;
    font-size: x-large;
}