.question-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  max-width: 500px;
}

.question-label {
  user-select: none;
  pointer-events: none;
  display: hidden;
}

@media (max-width: 767px) {
  .answers {
    grid-template-columns: repeat(2, 1fr);
  }
}
