.question-container {
  width: min(500px, 100%);
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 100%;
  justify-items: center;
  max-height: 80%;
}

.question-label {
  user-select: none;
  pointer-events: none;
}

.answers {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 5px;
  justify-items: center;
  overflow-y: auto;
}

@media (max-width: 767px) {
  .answers {
    grid-template-columns: repeat(2, 1fr);
  }

  .question-container {
    margin-top: 20px;
  }
}
